body {
  margin: 1rem auto;
  padding: 3rem;
  font-family: sans-serif;
  background-image: url("https://media1.thehungryjpeg.com/thumbs2/ori_3904533_lvplisloh273mr4n45caua17xb97mgf9t5mq1yy5_neon-quiz-sign-glow-question-mark-and-lighting-frame-party-led-banne.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  width: 40%;
  margin: 25em 42em 0 auto;
  color: white;
  text-align: center;
}

main {
  min-width: 25rem;
  max-width: 40%;
  margin: 0px 40em 0 auto;
  display: flex;
  flex-direction: column;
}

.statement {
  border: 1px solid white;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 5px gray;
  padding: 1rem;
  font-size: x-large;
  text-align: center;
  margin: 1rem 0px;
  min-height: 2em;
  color: white;
}

.explanation {
  padding: 1rem;
  text-align: center;
}

.options {
  width: 100%;
  display: flex;
  flex-direction: column;
}

button {
  padding: 0.7rem;
  font-size: medium;
  border-radius: 50px;
  font-size: large;
}

.correct {
  background-color: lightgreen;
}

.incorrect {
  background-color: lightpink;
}

label {
  color: white;
}

input {
  padding: 1rem;
  font-size: large;
}

select {
  padding: 1rem;
  font-size: large;
}
