body {
  margin: 0 auto;
  padding: 0;
  font-family: sans-serif;
  background-image: url("https://media1.thehungryjpeg.com/thumbs2/ori_3904533_lvplisloh273mr4n45caua17xb97mgf9t5mq1yy5_neon-quiz-sign-glow-question-mark-and-lighting-frame-party-led-banne.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  width: 40%;
  margin: 17em 42em 10em auto;
  color: white;
  text-align: center;
}

main {
  min-width: 25rem;
  max-width: 40%;
  margin: 0px 40em 0 auto;
  display: flex;
  flex-direction: column;
}

.statement {
  border: 1px solid white;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 5px gray;
  padding: 1rem;
  font-size: x-large;
  text-align: center;
  margin: 1rem 0px;
  min-height: 2em;
  color: white;
}

.explanation {
  padding: 1rem;
  text-align: center;
}

.options {
  width: 100%;
  display: flex;
  flex-direction: column;
}

button {
  padding: 0.7rem;
  font-size: medium;
  border-radius: 50px;
  font-size: large;
}

.correct {
  background-color: lightgreen;
}

.incorrect {
  background-color: lightpink;
}

label {
  color: white;
}

input {
  padding: 1rem;
  font-size: large;
}

select {
  padding: 1rem;
  font-size: large;
}

.quiz-sign {
    position: relative;
    width: 300px;
    height: 300px;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4OcatEMtFPLulDbvRnGNUXq4i91ASqB7ZLQ&usqp=CAU');
    background-size: cover;
    border-radius: 50%;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.8);
    overflow: hidden;
  }
  
  .question-mark {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #F9D31C;
    background-image: linear-gradient(to top, #F9D31C, #F9D31C 40%, transparent 40%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  }
  
  .lighting-frame {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5), 0 0 40px rgba(255, 255, 255, 0.5);
  }